header {
	display: block;
	width: 68vw;
	position: absolute;
	left: 30vw;
	top: 40px;

	@include tablet {
		top: 88px;
	}

	@include laptop {
		left: 24vw;
		top: 88px;
	}

	@include desktop {
		left: 24vw;
		top: 124px;
	}

	h1 {
		font-size: 19px;
		line-height: 21px;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}

		@include desktop {
			font-size: 64px;
			line-height: 66px;
		}
	}
}

.about-content {
	display: flex;
	flex-direction: column;
	// width: 68vw;
	margin-left: 15vw;
	margin-top: 127px;

	@include tablet {
		margin-top: 300px;
	}

	@include laptop {
		margin-left: 12vw;
		margin-top: 300px;
	}

	@include desktop {
		margin-left: 12vw;
		margin-top: 420px;
	}

	@include greater_than_laptop {
		margin-bottom: 40vh;
	}
	
	p {
		width: 55vw;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 20px;

		@include tablet {
			width: 45vw;
			font-size: 17px;
			line-height: 19px;
			margin: 40px 0 0 0;
		}

		@include laptop {
			width: 45vw;
			font-size: 17px;
			line-height: 19px;
			margin: 40px 0 0 0;
		}

		@include desktop {
			width: 45vw;
			font-size: 24px;
			line-height: 26px;
			margin: 60px 0 0 0;
		}
	}
}

header, .about-content {

}
