header {
	top: 40px;

	@include tablet {
		top: 88px;
	}

	@include laptop {
		top: 88px;
	}

	@include desktop {
		top: 124px;
	}
}

.about-content {
	top: 127px;

	@include tablet {
		top: 300px;
	}

	@include laptop {
		top: 300px;
	}

	@include desktop {
		top: 420px;
	}

	@include greater_than_laptop {
		margin-bottom: 20vh;
	}
}

header, .about-content {
	display: block;
	width: 68vw;
	position: absolute;
	left: 30vw;

	@include laptop {
		left: 24vw;
	}

	@include desktop {
		left: 24vw;
	}

	h1 {
		font-size: 19px;
		line-height: 21px;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}

		@include desktop {
			font-size: 64px;
			line-height: 66px;
		}
	}
}

.about-content p {
	width: 55vw;
	font-size: 14px;
	line-height: 16px;
	margin: 0 28px 20px 0;

	@include tablet {
		width: 45vw;
		font-size: 17px;
		line-height: 19px;
		margin: 40px 28px 0 0;
	}

	@include laptop {
		width: 45vw;
		font-size: 17px;
		line-height: 19px;
		margin: 40px 28px 0 0;
	}

	@include desktop {
		width: 45vw;
		font-size: 24px;
		line-height: 26px;
		margin: 60px 28px 0 0;
	}
}