$ease-speed: 0.5s;
// $menuItems: 4;
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

.main-nav {
	max-width: 15vw;
	width: 100vw;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;

    @include greater_than_laptop {
        max-width: 12vw;
    }

	@include transition(max-width $ease-speed $easeInOutQuad);
}

.main-nav__show {
	max-width: 100vw;
}

.nav-links {
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li{
    	// @for $i from 1 through $menuItems {
    	// 	&:nth-child(#{$i}) {
    	// 		@include transition(opacity 1s ease #{.1 * $i}s);
    	// 	}	    	
	    // }
	    opacity: 0;
	    @include transition(opacity $ease-speed ease 0.1s);
		width: 100vw;
	    margin: 8px 0 8px 20px;

	    @include tablet {
	    	margin: 15px 0 15px 50px;
	    }

	    @include laptop {
	    	margin: 10px 0 10px 45px;
	    }

	    @include desktop {
	    	margin: 15px 0 15px 65px;
	    }
	}

	a {
		font-size: 50px;
		line-height: 52px;

		@include greater_than_laptop {
			@include transition(color 0.15s ease);
			color: $light-blue;
	    }

	    @include tablet {
	    	font-size: 102px;
	    	line-height: 104px;
	    }

	    @include laptop {
	    	font-size: 102px;
	    	line-height: 104px;
	    }

	    @include desktop {
	    	font-size: 144px;
	    	line-height: 146px;
	    }

		&:hover {
			color: $blue;

			@include greater_than_laptop{
				img {
					opacity: 1;
				}
			}
		}

		img {
			opacity: 0;
			height:25px;

			@include transition(opacity 0.15s ease);

			@include laptop {
				height: 61px;
			}

			@include desktop {
				height: 87px;
			}
		}
	}
}

.nav-links__show {
	li, a {
		opacity: 1
	}
}

.menu-button__wrapper {
	position: absolute;
	width: 15vw;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: white;


    @include greater_than_laptop {
        width: 12vw;
    }

	h1 {
		transform: translate(-50%, -50%) rotateZ(270deg);
		position: absolute;
		display: flex;
		left: 45%;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}

		@include desktop {
			font-size: 64px;
			line-height: 64px;
		}

		top: 50%;
		font-size: 18px;
		line-height: 18px;
		font-family: lars-thin;
		cursor: pointer;
	}
}

.menu-triangle {
	width: 5px;
	transform: translate(8px, 2px) rotateZ(90deg);
	@include transition(transform $ease-speed ease);

	@include tablet {
		width: 11px;
		transform: translate(16px, 6px) rotateZ(90deg);
	}

	@include laptop {
		width: 11px;
		transform: translate(16px, 6px) rotateZ(90deg);
	}

	@include desktop {
		width: 15px;
		transform: translate(16px, 6px) rotateZ(90deg);
	}
}

.menu-triangle__spin {
	transform: translate(8px, 2px) rotateZ(270deg);

	@include tablet {
		transform: translate(16px, 6px) rotateZ(270deg);
	}

	@include laptop {
		transform: translate(16px, 6px) rotateZ(270deg);
	}

	@include desktop {
		transform: translate(16px, 6px) rotateZ(270deg);
	}
}
