header {
	display: block;
	width: 68vw;
	position: absolute;
	top: 37px;
	left: 32vw;

	@include tablet {
		top: 88px;
	}

	@include laptop {
		top: 88px;
		left: 24vw;
	}

	@include desktop {
		top: 124px;
		left: 24vw;
	}

	h1 {
		font-size: 19px;
		line-height: 21px;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}
		@include desktop {
			font-size: 64px;
			line-height: 66px;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	width: 70vw;
	margin: 30vw 0 0 30vw;

	@include laptop {
		margin: 30vw 0 0 47vw;
	}

	@include desktop {
		margin: 30vw 0 0 47vw;
	}

	img{
		width: 67vw;
		margin: 0 0 63px 3vw;

		@include tablet {
			margin: 0 0 150px 3vw;
		}

		@include laptop {
			width: 50vw;
			margin: 0 0 150px 3vw;
		}

		@include desktop {
			width: 50vw;
			margin: 0 0 210px 3vw;
		}
	}

	h1 {
		width: 48vw;
		font-size: 19px;
		line-height: 21px;
		margin: 0 0 32px 2vw;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
			margin: 0 0 60px 2vw;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
			margin: 0 0 60px -20vw;
		}

		@include desktop {
			font-size: 64px;
			line-height: 66px;
			margin: 0 0 60px -20vw;
		}
	}

	p {
		width: 55vw;
		font-size: 14px;
		line-height: 16px;
		margin: 0 28px 20px 2vw;

		@include tablet {
			width: 45vw;
			font-size: 17px;
			line-height: 19px;
			margin: 40px 28px 0 2vw;
		}

		@include laptop {
			width: 45vw;
			font-size: 17px;
			line-height: 19px;
			margin: 40px 28px 0 -20vw;
		}

		@include desktop {
			width: 45vw;
			font-size: 24px;
			line-height: 26px;
			margin: 60px 28px 0 -20vw;
		}
	}
}