header {
	display: block;
	width: 68vw;
	position: absolute;
	top: 37px;
	left: 32vw;

	@include tablet {
		top: 88px;
	}

	@include laptop {
		top: 88px;
		left: 24vw;
	}

	@include desktop {
		top: 124px;
		left: 24vw;
	}

	h1 {
		font-size: 19px;
		line-height: 21px;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}
		@include desktop {
			font-size: 64px;
			line-height: 66px;
		}
	}
}

.back-button {
	a img {
		color: $blue;
		position: absolute;
		left: 15vw;
		top: 46px;
		width: 35px;

		@include greater_than_laptop {
			left: 13vw;
		}

		@include tablet {
			top: 110px;
			width: 80px;
		}

		@include laptop {
			top: 110px;
			width: 80px;
		}

		@include desktop {
			top: 156px;
			width: 110px;
		}
	}
}

.project-content {
	display: flex;
	flex-direction: column;
	width: auto;
	margin: 30vw 0 0 30vw;

	@include laptop {
		margin: 30vw 0 0 24vw;
	}

	@include desktop {
		margin: 30vw 0 0 24vw;
	}

	h1 {
		width: 48vw;
		font-size: 19px;
		line-height: 21px;
		margin-bottom: 32px;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
			margin-bottom: 60px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
			margin-bottom: 75px;
		}

		@include desktop {
			font-size: 64px;
			line-height: 66px;
			margin-bottom: 70px;
		}
	}

	p {
		width: 55vw;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 20px;

		@include tablet {
			width: 45vw;
			font-size: 17px;
			line-height: 19px;
			margin-bottom: 28px;
		}

		@include laptop {
			width: 45vw;
			font-size: 17px;
			line-height: 19px;
			margin-bottom: 50px;
		}

		@include desktop {
			width: 45vw;
			font-size: 24px;
			line-height: 26px;
			margin-bottom: 50px;
		}
	}
}

.project-image {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 19vw;

	@include laptop {
		margin-bottom: 150px;
	}

	img {
		width: 67vw;
		align-self: center;

		@include greater_than_laptop {
			width: 50vw;
		}
	}
}
