header {
	display: block;
	width: 68vw;
	position: absolute;
	top: 37px;
	left: 30vw;

	@include tablet {
		top: 88px;
	}

	@include laptop {
		top: 88px;
		left: 24vw;
	}

	@include desktop {
		top: 124px;
		left: 24vw;
	}

	h1 {
		font-size: 19px;
		line-height: 21px;

		@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}
		@include desktop {
			font-size: 64px;
			line-height: 66px;
		}
	}
}

.project_collections {
    // width: 68vw;
    margin-top: 30vw;
    margin-left: 30vw;
    margin-bottom: 10vw;

	@include tablet {
		top: 220px;
	}

	@include laptop {
		top: 220px;
	}

	@include desktop {
		top: 325px;
	}

	@include greater_than_laptop{
		left: 24vw;
	    margin-top: 20vw;
	    margin-left: 24vw;
	}

    ul {
		display: flex;
	    flex-direction: column;

		@include greater_than_laptop {
			flex-direction: row;
			flex-wrap: wrap;
		}

		li {
			display: flex;
			flex-direction: column-reverse;

			@include tablet {
				width: 40vw;
			}

			@include greater_than_laptop {
				width: 30vw;
				margin: 65px 8vw 65px 0;
			}
		}
	}
    ul li a {
    	flex-direction: column;
    	font-size: 19px;
    	line-height: 21px;

    	@include tablet {
			font-size: 45px;
			line-height: 47px;
		}

		@include laptop {
			font-size: 45px;
			line-height: 47px;
		}

		@include desktop {
			font-size: 64px;
			line-height: 66px;
		}

    	img, h1 {
    		justify-content: center;
    		margin: 15px 0 15px 0;

    		@include tablet {
    			margin: 25px 0 25px 0;
    		}
    	}
	    img {
	    	width: 45vw;

	    	@include greater_than_laptop {
	    		margin: 0;
	    		width: 22vw;
	    	}
	    }
	    h1 {
	    	@include laptop {
	    		margin: 0 0 65px;
	    	}

	    	@include desktop {
	    		margin: 0 0 88px;
	    	}
	    }
	}
}