<html>
{% capture style %}{% include blog-bundle.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
<main><ul class="blog-posts">
	{% for post in paginator.posts %}
	<li class="blog-item">
		<div class="title-date">
		  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		  <div class="date"><span>{{ post.date | date: "%m/%d/%y" }}</span></div>
	  </div>
		<div class="content">
		    {{ post.excerpt }}
		</div>
	</li>
	{% endfor %}
</ul></main>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      <h1 class="page-number">{{ paginator.previous_page }}</h1>
    	<img src="{{ "assets/back-arrow.svg" | absolute_url }}" class="arrow">
    </a>
  {% else %}
    <span class="previous">
    	<img src="{{ "assets/back-arrow.svg" | absolute_url }}" class="arrow">
    </span>
  {% endif %}
  <div class="current-page"><h1>{{ paginator.page }}</h1></div>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">
    	<img src="{{ "assets/back-arrow.svg" | absolute_url }}" class="arrow">
      <h1 class="page-number">{{ paginator.next_page }}</h1>
    </a>
  {% else %}
    <span class="next">
    	<img src="{{ "assets/back-arrow.svg" | absolute_url }}" class="arrow">
    </span>
  {% endif %}
</div>
</body>
</html>
