<!DOCTYPE html>
<html>
{% capture style %}{% include project-page-bundle.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
<div class="back-button">
	<a href="{{ "projects" | absolute_url }}">
		<img src="{{ "assets/back-arrow.svg" | absolute_url }}">
	</a>
</div>
<main><article class="project-content">
	<div class="project-image"><img src="{{ "assets/project_square.png" | absolute_url }}"></div>
	<h1>Using Machine Learning to discover a new way to organize music.</h1>
	<p>{{ page.content }}</p>
	<p>{{ page.content }}</p>
	<div class="next-page"><a href="brokenlink">Next Project</a></div>
</article></main>
</body>
</html>