<!DOCTYPE html>
<html>
{% capture style %}{% include project-bundle.scss %}{% endcapture %}
{% include head.html %}
<body>
{% include header.html %}
<main class="project_collections">
	<ul>
		<li><a href="{{ "projects/project1" | absolute_url }}">
			<h1>LSTM Generated Chords</h1>
			<img src="{{ "assets/project_square.png" | absolute_url }}">
		</a></li>
		<li><a href="brokenlink">
			<h1>Transfer Learning</h1>
			<img src="{{ "assets/project_square.png" | absolute_url }}">
		</a></li>
		<li><a href="brokenlink">
			<h1>Deep Nightmare</h1>
			<img src="{{ "assets/project_square.png" | absolute_url }}">
		</a></li>
		<li><a href="brokenlink">
			<h1>Music Organization Library</h1>
			<img src="{{ "assets/project_square.png" | absolute_url }}">
		</a></li>
	</ul>
</main>
</body>
</html>